<div id="<%= dom_id department %>">
  <p>
    <strong>Dept no:</strong>
    <%= department.dept_no %>
  </p>

  <p>
    <strong>Dept name:</strong>
    <%= department.dept_name %>
  </p>

  <p>
    <strong>String:</strong>
    <%= department.string %>
  </p>

</div>
