<h1>Editing dept manager</h1>

<%= render "form", dept_manager: @dept_manager %>

<br>

<div>
  <%= link_to "Show this dept manager", @dept_manager %> |
  <%= link_to "Back to dept managers", dept_managers_path %>
</div>
